* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body{
  background-image: url(../img/images.jpg);
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c;
}

.logo {
max-width: 25%;
  height: auto;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
ul li {
  list-style-type: none;
  gap: 0 1rem;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
a:hover{
  background-color: antiquewhite;
  color: #1c1c1c;
  border-radius: 15%;
}
#footer1, #footer2, #footer3{
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  margin-top: 5vh;
}

#texto{
  text-align: center;
}
img{
  width: 40vh;
  height: 40vh;
}
#fotos{
  display: flex;
  justify-content: space-between;
 margin-top: 15vh ;
 flex-wrap: wrap;
}
#principal{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
#segundo{
  background-color: palevioletred;
  text-align: center;
  margin-top: 10vh;
}
#contenedor{
  background-color: aliceblue;
  text-align: center;
  font-size: 2vh;
  flex-direction: column;
  margin-top: 1vh;
}
#contenedor img{
  width: 10%;
  height: 10%;
}

[type="submit"]{
  width: 35vh;
  height: 5vh;
font-size: 2vh;
}
form{
  max-width: 90%;
  margin: 3vh auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
label{
  display: block;
  margin-bottom: 1vh;
}
input{
 width: 100%;
padding: 1vh;
margin-bottom: 1rem;

}
input[type="submit"]{
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

h1{
  text-align: center;
}

@media(max-width: 768px){
  .logo{
    max-width: 50%;
  }

  #fotos{
    flex-direction: column;
    align-items: center;
  }
  img{
    width: 80%;
    height: auto;
  }
  #contenedor img{
    width: 40%;
  }
  input[type="submit"]{
    width: 90%;
  }

}